body,html{
	height: 100%;
	width: 100%;
	background-color: white;
	text-align: center;
	padding: 2%;
	padding-top: 0;
}
header{
	clear: right;
}
.float{ 
	text-align: center;
	color: black;
	font-size: 50px;
	width: 100%;
	height:3%;
	margin:auto;
}
.bg{
    width: 100%;
    height: 100%;
    background: #56836F;
    opacity: 1;
    padding color: white;
    border: 1px solid #006837;
}

nav{
   
    float: right;
}
.logo{
    float: right;
}
.log{
	width: 300px;
	height: 300px;
}
ul{
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
}
.li{
	width:180px;
	height:48px;
	text-align: left;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	display: inline-block;
	font-size:48px;
    font-family: 'Myriad';
}
section{
	width: 100%;
	height: 50%;
}
.left{
width: 45%;
height: 100%;
float: left;
background-color: yellow;
margin-left: 3%;
}
.right{
width: 40%;
height: 100%;
float: right;
background-color: yellow;
margin-right: 3%

}
.one{
	width: 100px;
	height: 150px;
	float: right;
	margin: 2%;
}
.two{
	width: 100px;
	height: 150px;
	float: left;
	margin: 2%;
}
.lorem{
	width: 400px;
	float: left;
	text-align: left;
	font-size: 14px;
    font-family: 'Segoe UI Regular';
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
	margin-left: 20px;
	margin-top: 20px;
}
.ipsum{
	width: 400px;
	float: right;
	text-align: left;
    font-size: 14px;
    font-family: 'Segoe UI Regular';
	letter-spacing: 0px;
	color: #006837;
	opacity: 1;
	margin-top: 20px;
	margin-right: 20px;
}
.lastp{
	width: 500px;
	height: 200px;
	margin: 20px;
	text-align: left;
	font-size: 14px;
    font-family: 'Segoe UI Regular';
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
.lastptwo{
	width: 500px;
	height: 100px;
	text-align: left;
	font-size: 14px;
    font-family: 'Segoe UI Regular';
	letter-spacing: 0px;
	color: #006837;
	opacity: 1;
	margin: 20px;
}
