body{
	margin: : 40px;
    width: 1286px;
    height: 700px;
    background: #56836F 0% 0% no-repeat padding-box;
    border: 4px solid #006837;
    opacity: 1;
}
nav{
    height: 64px;
    margin-top: 36px;
    margin-left: 140px;
    margin-bottom: 210px;
}
.logo{
    font-size: 211px;
    display: inline-block;
    color: #FCEE21;
    margin-left: 70px;
}
ul{
	width: 786px;
    height: 64px;
    margin-top: 40px;
    display: inline-block;
    vertical-align: top;
}
.li{
	width:180px;
	height:48px;
	text-align: left;
	letter-spacing: 0px;
	color: #FFFFFF;
	opacity: 1;
	display: inline-block;
	font-size:48px;
    font-family: 'Myriad';
}
.left{
width: 617px;
height: 356px;
float: left;
margin-left: 71px;
margin-bottom: 80px;
background-color: yellow;
}
.right{
width: 523px;
height: 356px;
float: right;
margin-right: 56px;
margin-bottom: 80px;
background-color: yellow;

}
.divson{
	padding:20px;
	width: 563px;
	height:170px;
}
.divtwoson{
	padding: 20px;
	width: 460px;
	height: 170px;
}
.one{
	width: 120px;
	height: 100px;
	float: right;
}
.two{
	width: 120px;
	height: 100px;
	float: left;
}
.lorem{
	width: 410px;
	height: 130px;
	float: left;
	text-align: left;
	font-size: 14px;
    font-family: 'Segoe UI Regular';
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
.ipsum{
	width: 310px;
	height: 200px;
	float: right;
	text-align: left;
    font-size: 14px;
    font-family: 'Segoe UI Regular';
	letter-spacing: 0px;
	color: #006837;
	opacity: 1;
}
.lastp{
	width: 560px;
	height: 150px;
	padding: 20px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: left;
	font-size: 14px;
    font-family: 'Segoe UI Regular';
	letter-spacing: 0px;
	color: #000000;
	opacity: 1;
}
.lastptwo{
	width: 460px;
	height: 100px;
	padding: 20px;
	text-align: left;
	font-size: 14px;
    font-family: 'Segoe UI Regular';
	letter-spacing: 0px;
	color: #006837;
	opacity: 1;
	padding-top: 0px;
}